__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
node_modules/
notebooks/
frontend/
models/*.h5
models/*.keras
